langchain
langgraph
langsmith
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-ollama
langchain-google-genai
langchain-tavily
deepagents
langchain-mcp-adapters
langchain-text-splitters
mcp
faiss-cpu
tiktoken
chromadb
sentence-transformers
langchain_unstructured
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
accelerate
pandas
openpyxl
langchain-docling
jq
matplotlib
## Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental
wikipedia
langgraph

unstructured-client
python-magic
langchain-opendataloader-pdf
langchain-pymupdf4llm
langchain_chroma




